name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: '1.25'
    - run: |
        sudo apt-get update
        sudo apt-get -y install build-essential libglu1-mesa-dev libpulse-dev libglib2.0-dev pkg-config qtbase5-dev
    - run: go build -ldflags '-s -w'
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: '1.25'
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: mingw-w64-x86_64-qt5-static
    - shell: msys2 {0}
      run: |
        export PKG_CONFIG_PATH=/ucrt64/qt5-static/lib/pkgconfig
        export CGO_LDFLAGS='-LC:/msys64/ucrt64/qt5-static/share/qt5/plugins/platforms -lqwindows -lQt5FontDatabaseSupport -lQt5EventDispatcherSupport -lQt5ThemeSupport -lQt5PlatformCompositorSupport -lQt5AccessibilitySupport -lQt5WindowsUIAutomationSupport -lwtsapi32 -LC:/msys64/ucrt64/qt5-static/share/qt5/plugins/styles -lqwindowsvistastyle -lQt5VulkanSupport -lqtfreetype -static -static-libgcc -static-libstdc++'
        cp -vn /ucrt64/lib/libzstd.a /ucrt64/qt5-static/lib/libzstd
        cp -vn /ucrt64/lib/libz.a /ucrt64/qt5-static/lib/libz
        go build -ldflags "-s -w -H windowsgui" --tags=windowsqtstatic
